.mapContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  outline: none;
}
.mapControlDisplay {
  position: absolute;
  top: 10px;
  left: 45px;
  z-index: 2;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}

.mapScaleDisplay {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 2;
  border: 2px solid rgba(0, 0, 0, 0.2);

  border-radius: var(--radius);
  background-color: var(--grey2);
}

.mapPositionDisplay {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 2;
  border: 2px solid rgba(0, 0, 0, 0.2);

  border-radius: var(--radius);
  background-color: var(--grey2);
}

.scaleValue {
  font-size: 0.8em;
  border: 1px solid var(--grey3);
  padding: 5px;
}

.positionValue {
  font-size: 0.8em;
  border: 1px solid var(--grey3);
  padding: 5px;
  width: 150;
}
