.body {
  height: 100%;
}
.rightControl {
  height: 100%;
}

.activeWindow {
  background: #313440;
  height: 100%;
}
.iconRow {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 8px;
}
.icon {
  padding: 2px 7px;
}

.headerText {
  /* Tab Title */
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;

  /* AEGIS - Map Imagery */
  color: #66DEF9;
}

.iconContainer {
  width: 35px;
  height: 28px;
}

.iconContainerSelected {
  background: #313440;
  border-top: 3px solid #66DEF9;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 35px;
  height: 28px;
}