.canvasContainer {
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 500;
  background-color: var(--grey1);
  border-top: 2px solid black;
}

.canvasContainer canvas {
  height: 162px;
  width: 100%;
}
