.mapPosDisplayContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  border: 2px solid rgb(0 0 0 / 20%);
  border-radius: var(--radius);
}

.mapPosDisplayContainerOpen {
  width: 384px;
  min-width: 300px;
  min-height: 150px;
  max-width: calc(100% - 10px);
  max-height: calc(100% - 10px);
  overflow: auto;
  resize: both;
}

.mapPosDisplay {
  border: 1px solid var(--grey3);
  border-radius: var(--radius);
  background-color: var(--grey2);
  pointer-events: all;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.mapPosDisplayExecuting {
  border: 2px solid var(--rex);
  border-radius: var(--radius);
  background-color: var(--grey2);
  pointer-events: all;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.menuOpen {
  padding: 5px;
}
.menuClosed {
  padding: 3px 6px 3px 6px;
  width: 30px;
}
.menuIcon {
  flex: 0 0 18px;
  user-select: none;
  cursor: pointer;
}
.menuContainer {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 400px);
  row-gap: 10px;
}
.bottomTriangle {
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--grey5);
  position: absolute;
  left: 2px;
  bottom: 2px;
}
.menuIconOpen {
  margin-top: -2px;
  margin-right: 1px;
}
.topTriangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-top: 5px solid var(--grey5);
  position: absolute;
  right: 2px;
  top: 2px;
}
.hideMenu {
  display: none;
}
.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: move;
  touch-action: none;
  user-select: none;
}
.buttonContainer {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.viewOnlyButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.center {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.toggleContainer {
  display: flex;
  flex-direction: row;
}
.sourceText {
  display: flex;
  align-items: center;
  color: var(--grey4);
  font-size: 0.8rem;
  margin-right: 5px;
}
.toggleLeft {
  font-size: 0.8rem;
  background-color: var(--grey3);
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  padding: 2px 4px 2px 4px;
  min-width: 20px;
  margin-right: 1px;
  text-align: center;
  user-select: none;
  cursor: pointer;
}
.toggleMiddle {
  font-size: 0.8rem;
  background-color: var(--grey3);
  padding: 2px 4px 2px 4px;
  min-width: 20px;
  margin-right: 1px;
  text-align: center;
  user-select: none;
  cursor: pointer;
}
.toggleRight {
  font-size: 0.8rem;
  background-color: var(--grey3);
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  min-width: 20px;
  padding: 2px 4px 2px 4px;
  text-align: center;
  user-select: none;
  cursor: pointer;
}
.toggleSelected {
  background-color: var(--grey5);
  color: var(--grey1);
  font-weight: 600;
}
.setPosButton {
  padding-left: 5px;
  padding-right: 2px;
}
.saveCancelButtons {
  display: flex;
  flex-direction: row;
  column-gap: 2px;
}
.posTableContainer {
  flex: 1 1 auto;
  overflow-y: auto;
}
.posTable {
  border-collapse: collapse;
  width: 100%;
}
.posTable td {
  padding: 2px 3px 2px 3px;
}
.currentPos {
  color: #52f075;
}
.historicPosTitle {
  font-size: 0.8rem;
  color: var(--grey4);
  align-items: center;
  cursor: pointer;
}
.historicPosHeader {
  font-size: 0.8rem;
  color: var(--grey4);
}

.historicPosItem {
  font-size: 0.8rem;
  border-radius: var(--radius);
  cursor: pointer;
}
.historicPosItemHover {
  background: var(--grey1);
}
.historicPosItemSelected {
  background: var(--grey5);
  color: black;
  font-weight: 500;
}
.historicPosItemPending {
  color: var(--grey3);
}
.historicPosItemNumber {
  color: var(--grey4);
}
.historicPosIcon {
  font-size: 0.9em;
}
.petColumn {
  min-width: 65px;
}
.markerColumn {
  min-width: 90px;
}

.kabobContainer {
  position: relative;
  padding: 0;
  background-color: transparent;
}
.kabobContainer::backdrop {
  background: transparent;
}

.kabobMenu {
  position: fixed;
  z-index: 100;
  background-color: var(--grey3);
  color: var(--grey5);
  border: 1px solid var(--grey4);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  font-weight: normal;
  width: 150px;
}
.kabobMenuItem {
  display: flex;
  flex-direction: row;
  padding: 5px;
  cursor: pointer;
  column-gap: 3px;
  align-items: center;
}
.kabobMenuItem:hover {
  background-color: var(--grey2);
  border-radius: var(--radius);
}
.kabobMenuItem:not(:last-child) {
  border-bottom: 1px solid var(--grey4);
}
