.header {
  margin-left: 85px;
  width: 160px;
  display: flex;
  flex-direction: row;
}

.title {
  flex: 1;
  font-size: 1.3rem;
  font-weight: bold;
  color: black;
}

.container {
  height: 100%;
  background-color: var(--grey5);
  border-radius: var(--panelRadius);
  width: 230px;
}
