# Old ENV variables
MMGIS_DB_HOST=aegis_postgis
MMGIS_DB_PORT=5432
MMGIS_DB_NAME=aegis
MMGIS_DB_USER=postgres
MMGIS_DB_PASS=postagresgetthemess

# Future ENV variables
AEGIS_DB_HOST=localhost
AEGIS_DB_PORT=5432
AEGIS_DB_NAME=aegis
AEGIS_DB_USER=postgres
AEGIS_DB_PASS=postagresgetthemess

NEXT_PUBLIC_MAPBOX_KEY=pk.eyJ1IjoiYmZlaXN0IiwiYSI6ImNpbDJva2hseTNnZnd1Z20zNmU0cDExdXUifQ.3acQyDaKU1HS8k5hqPmp1w
NEXT_PUBLIC_LAYER_BASE_URL=https://emss-labs.fit.nasa.gov/public/tiles/
