# Is set to "localhost" so that native Node development can hit a dev database running in docker.
# In a full-docker install AEGIS_DB_HOST will be overridden with "database" so containers can
# properly communicate with each other. See docker-compose.yml.
AEGIS_DB_HOST=localhost

# Pick a secure password
AEGIS_DB_PASS=pick-a-secure-password

#
# FOR LOCAL DEV: CHANGES NOT LIKELY NEEDED BELOW
#

# Additional database connection details (which most people don't need to change)
AEGIS_DB_PORT=5432
AEGIS_DB_NAME=aegis
AEGIS_DB_USER=postgres

# Images to use if you're pulling from the container repository by just doing `docker-compose up`.
# This is what prod/int/dev servers do, specifying the correct image (e.g. nginx-dev for dev,
# nginx-prod for prod) in their .env file.
DOCKER_IMAGE_NGINX=eegitlabregistry.fit.nasa.gov/emss/aegis/nginx:dev
DOCKER_IMAGE_NEXTJS=eegitlabregistry.fit.nasa.gov/emss/aegis/nextjs:dev

# Location of SSL cert/key. For local dev, run `bash scripts/make-dev-ssl-cert.sh` to create a self-
# signed cert.
DOCKER_SSL_CERTS_DIR=./.local/certs
DOCKER_SSL_PRIVATE_DIR=./.local/private

PUBLIC_STATIC_DIR=./public/static
DOCKER_DB_DATA_DIR=./.local/database
DOCKER_DB_INIT_DIR=./.local/db-init

# This isn't really sensitive, since it is discoverable on client
NEXT_PUBLIC_MAPBOX_KEY=pk.eyJ1IjoiYmZlaXN0IiwiYSI6ImNpbDJva2hseTNnZnd1Z20zNmU0cDExdXUifQ.3acQyDaKU1HS8k5hqPmp1w


