# Set this to `localhost` if:
#   1. You are using a native Postgres install
#   2. You are just running the postgis container on its own via `docker-compose up postgis`, and
#      will run AEGIS on its own separately via `npm run dev`.
# Set this to a descriptive name like `aegis_postgis` if:
#   3. You're using docker-compose for the whole system via `docker-compose up`
AEGIS_DB_HOST=aegis_postgis

# Pick a secure password
AEGIS_DB_PASS=

# Database connection details you probably don't need to change
AEGIS_DB_PORT=5432
AEGIS_DB_NAME=aegis
AEGIS_DB_USER=postgres

# This isn't really sensitive, since it is discoverable on client
NEXT_PUBLIC_MAPBOX_KEY=pk.eyJ1IjoiYmZlaXN0IiwiYSI6ImNpbDJva2hseTNnZnd1Z20zNmU0cDExdXUifQ.3acQyDaKU1HS8k5hqPmp1w

# No reason to change this unless
NEXT_PUBLIC_LAYER_BASE_URL=https://emss-labs.fit.nasa.gov/public/tiles/
