
# AEGIS_DB_HOST is "localhost" when doing native/local Node development. When running
# node in docker, this will be overridden in the docker-compose.yml to be "database"
AEGIS_DB_HOST=localhost
AEGIS_DB_NAME=aegis

# The docker images to be used in docker compose
DOCKER_IMAGE_NGINX=${DOCKER_IMAGE_NGINX}
DOCKER_IMAGE_NEXTJS=${DOCKER_IMAGE_NEXTJS}
DOCKER_IMAGE_GDAL=${DOCKER_IMAGE_GDAL}

# Location of SSL cert/key. For local dev, run `bash scripts/make-dev-ssl-cert.sh` to create a self-
# signed cert.
DOCKER_SSL_CERTS_DIR=${DOCKER_SSL_CERTS_DIR}
DOCKER_SSL_PRIVATE_DIR=${DOCKER_SSL_PRIVATE_DIR}

PUBLIC_STATIC_DIR=${PUBLIC_STATIC_DIR}
DOCKER_DB_DATA_DIR=${DOCKER_DB_DATA_DIR}
DOCKER_DB_INIT_DIR=${DOCKER_DB_INIT_DIR}

GDAL_HOST=${GDAL_HOST} 
GDAL_PORT=${GDAL_PORT} 

# env var that causes the app to wake the socketio server instead of relying on CI script to do it
NEXT_PUBLIC_IN_CI_ENVIRONMENT=${NEXT_PUBLIC_IN_CI_ENVIRONMENT}

# disable the new Next.js telemetry
NEXT_TELEMETRY_DISABLED=1

#
# !!!! SENSITIVE DATA !!!!
#
# The following env vars are sensitive! Do not send them to anyone who doesn't need them
# If sending them to someone who does need them, send via encrypted email.
#
# If you need values, request from AEGIS developers or copy from GitLab CI/CD variables. These values
# will be stored in .env.secret so make-dotenv.sh can reuse them.
#
AEGIS_DB_PASS=${AEGIS_DB_PASS}
# The key passed in as a URL param to an API endpoint to hard reset the super admin user password to the default
ADMIN_RECOVERY_KEY=${ADMIN_RECOVERY_KEY}
# Iron session password to encrypt the cookie
IRON_SESSION_PASSWORD=${IRON_SESSION_PASSWORD}


# integration with box.com for admin zip downloads
# These values are from the box.com developer console.
# Currently using bf@benfeist.com Box account but could be done with any box account that has access to the AEGIS Zips folder and can create new apps.
BOX_CLIENT_ID=${BOX_CLIENT_ID}
BOX_CLIENT_SECRET=${BOX_CLIENT_SECRET}
BOX_ENTERPRISE_ID=${BOX_ENTERPRISE_ID}
BOX_USER_ID=${BOX_USER_ID}
BOX_INITIAL_FOLDER_ID=198245097840