.actionPanelContainer {
  margin: 0;
  padding: 0;
}

.highlightAction {
  background-color: #356b6c;
  border-radius: var(--panelRadius);
}

.reorderIcon {
  display: flex;
  margin-top: 5px;
  margin-left: 3px;
  transform: scaleX(0.8);
  cursor: pointer;
}

.iconFaded {
  color: var(--grey4);
  outline: none;
}

.actionsHeadingCaret {
  margin-left: 0;
}

.selectorContainer {
  padding-left: 15px;
}

.propertyList {
  margin-left: 18px;
}

.propertyItem {
  display: flex;
  flex-direction: row;
  font-size: 0.8em;
}

.propertyItemLabel {
  font-size: 0.8em;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.propertyListDoubleColumn {
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  width: 100%;
}

.propertyListColumn {
  flex: 0 0 50%;
}
