.actionPanelContainer {
  margin: 0;
  padding: 0;
}

.highlightAction {
  background-color: #356b6c;
  border-radius: var(--panelRadius);
}

.reorderIcon {
  display: flex;
  margin-top: 5px;
  margin-left: 3px;
  transform: scaleX(0.8);
  cursor: pointer;
}

.iconFaded {
  color: var(--grey4);
}

.actionsHeadingCaret {
  margin-left: 0;
}

.stmSelectorContainer {
  padding-left: 15px;
}
