.rightBody {
  display: flex;
  flex-direction: column;
  background-color: var(--grey1);
  flex: 1 1 auto;
  overflow-y: hidden;
}

.rightBodyTitle {
  font-size: 1.1em;
  font-weight: 600;
  margin-left: 10px;
  margin-top: 10px;
  flex: 0 0 20px;
}

.rightBodyBody {
  height: 0;
  flex: 1 1 auto;
  overflow-y: scroll;
}
.rightBodyFooter {
  flex: 0 0 20px;
}

.leftBody {
  display: flex;
  flex-direction: column;
  background-color: var(--grey1);
  height: 100%;
}

.leftBodyTitle {
  font-size: 1.1em;
  font-weight: 600;
  margin-left: 10px;
  margin-top: 10px;
  flex: 0 0 20px;
}
.leftBodyBody {
  height: 0;
  flex: 1 1 auto;
  overflow-y: scroll;
}
.leftBodyFooter {
  flex: 0 0 20px;
}

.subTitle {
  font-size: 0.95em;
  font-weight: 600;
  margin-left: 10px;
  margin-top: 10px;
}

.bodyText {
  font-size: 0.95em;
  margin-left: 5px;
}

.bodyText p {
  margin: 10px 5px 10px 5px;
}

.iconButtons {
  display: flex;
  gap: 6px;
  flex-direction: row;
  padding: 0 0 5px 0;
  margin-left: 6px;
}

.rightActiveWindow {
  background: #313440;
  height: 100%;
}
.rightSubTray {
  display: flex;
  flex-direction: row;
}
.rightIconRow {
  margin-top: 5px;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 8px;
}
.rightIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4px;
}

.rightIconContainer {
  background: black;
  border-top: 3px solid black;
  border-radius: 4px 4px 0 0;
  width: 35px;
  height: 32px;
  cursor: pointer;
}
.rightIconContainer:hover {
  background-color: var(--grey1);
  border-top: 3px solid var(--grey1);
  width: 35px;
  height: 32px;
}

.rightIconContainerSelected {
  background: var(--grey1);
  border-top: 3px solid #fff;
  border-radius: 4px 4px 0 0;
  width: 35px;
  height: 32px;
  cursor: pointer;
}

.rightIconContainerSelectedPreset {
  background: var(--grey1);
  border-top: 3px solid var(--grey4);
  border-radius: 4px 4px 0 0;
  width: 35px;
  height: 32px;
  cursor: pointer;
}

.rightIconContainerSelectedPoi {
  background: var(--grey1);
  border-top: 3px solid var(--grey4);
  border-radius: 4px 4px 0 0;
  width: 35px;
  height: 32px;
  cursor: pointer;
}

.rightIconContainerSelectedStation {
  background: var(--grey1);
  border-top: 3px solid var(--grey4);
  border-radius: 4px 4px 0 0;
  width: 35px;
  height: 32px;
  cursor: pointer;
}

.rightIconContainerSelectedTraverse {
  background: var(--grey1);
  border-top: 3px solid var(--grey4);
  border-radius: 4px 4px 0 0;
  width: 35px;
  height: 32px;
  cursor: pointer;
}

.rightTopTitle {
  display: flex;
  justify-content: stretch;
  font-size: 1.1em;
  font-weight: 400;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

.rightTopTitleText {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rightTopTitleIcon {
  font-size: 1.2em;
  min-height: 29px;
}

.rightTopTitleNoIcon {
  font-size: 1.1em;
  min-height: 29px;
}

.saveCancelContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: right;
  margin-right: 3px;
  margin-top: 7px;
}

.leftPanelContainer {
  background-color: var(--grey2);
  margin: 8px;
  border-radius: var(--panelRadius);
  height: 100%;
}

.panelContainer {
  background-color: var(--grey2);
  margin: 8px;
  border-radius: var(--panelRadius);
  overflow-y: hidden;
}

.panelSection {
  display: flex;
  flex-direction: column;
  padding: 10px 5px 10px 5px;
  border-top: 1px solid var(--grey3);
  height: 100%;
  overflow-y: hidden;
}

.panelSection:first-child {
  border-top: none;
}

.panelSectionRow {
  display: flex;
  flex-direction: row;
}

.verticalCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.panelSection:last-child {
  margin-bottom: 5px;
}

.panelSectionTitle {
  font-size: 0.8em;
  font-weight: 400;
  color: var(--grey4);
  -webkit-user-select: none;
  user-select: none;
}

.panelSection2Column {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 18px;
}

.actionIndent {
  padding-left: 25px;
  width: 450px;
}

.sectionButtonRow {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 16px;
  gap: 5px;
}

.sectionButtonRowEmpty {
  margin-top: 8px;
}

.panelText {
  font-size: 0.8em;
  font-weight: 400;
  color: white;
}

.buttonPlaceholder {
  height: 27px;
}

.panelSmallField {
  color: red;
}

.panelColumnTable {
  flex: 1;
  display: table-row-group;
}

.panelColumnTableRow {
  display: table-row;
}

.panelColumnTableCell {
  display: table-cell;
}
.panelColumnTableCellLeft {
  display: table-cell;
  /* text-align: right; */
}

.panelColumnTableCell {
  display: table-cell;
}

.panelDisplayVal {
  font-size: 0.8em;
  font-weight: 400;
}

.panelColorDropdownContainer {
  flex: 1;
}

.iconButtonLabel {
  margin-left: 3px;
}

.iconButton:hover {
  background-color: var(--grey3);
}

.inputField {
  margin-top: 1px;
  display: flex;
}

.inputFieldLabel {
  font-size: 0.8em;
  font-weight: 400;
  color: var(--grey4);
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputFieldValue {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.displayFieldLabel {
  font-size: 0.8em;
  font-weight: 400;
  color: var(--grey4);
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.displayFieldValue {
  font-size: 0.8em;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 8px;
}

.actionsHeading {
  display: flex;
  gap: 8px;
  padding: 5px;
}

.actionsHeadingTitle {
  font-size: 0.9rem;
  font-weight: 400;
  width: 115px;
  margin-top: 4px;
  text-transform: capitalize;
  cursor: pointer;
}

.actionsHeadingSubTitle {
  flex-grow: 1;
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: auto;
}

.actionsHeadingCaret {
  margin-left: 8px;
  margin-top: 3px;
}

.actionsHeadingCaretRight {
  margin-right: 2px;
}

.actionHeadingIcons {
  width: 18px;
  margin-top: 4px;
}

.check {
  margin: 0 4px 0 4px;
}

.checkUneditable {
  margin: 0 8px 0 4px;
}

.descriptionContainer {
  padding-left: 13px;
}
