.panelContainer {
  background-color: var(--grey2);
  margin: 8px;
  padding: 6px;
  border-radius: var(--panelRadius);
  overflow-x: hidden;
}

.iconButtons {
  display: flex;
  gap: 6px;
  flex-direction: row;
  padding: 5px 0px 5px 0px;
}
