.rightBody {
  display: flex;
  flex-direction: column;
  background-color: var(--grey1);
  height: 100%;
}

.rightBodyTitle {
  font-size: 1.1em;
  font-weight: 600;
  margin-left: 10px;
  margin-top: 10px;
  flex: 0 0 20px;
}

.rightBodyBody {
  height: 0;
  flex: 1 1 auto;
  overflow-y: scroll;
}
.rightBodyFooter {
  flex: 0 0 20px;
}

.leftBody {
  display: flex;
  flex-direction: column;
  background-color: var(--grey1);
  height: 100%;
}

.leftBodyTitle {
  font-size: 1.1em;
  font-weight: 600;
  margin-left: 10px;
  margin-top: 10px;
  flex: 0 0 20px;
}
.leftBodyBody {
  height: 0;
  flex: 1 1 auto;
  overflow-y: scroll;
}
.leftBodyFooter {
  flex: 0 0 20px;
}

.subTitle {
  font-size: 0.95em;
  font-weight: 600;
  margin-left: 10px;
  margin-top: 10px;
}

.bodyText {
  font-size: 0.95em;
  margin-left: 5px;
}

.bodyText p {
  margin: 10px 5px 10px 5px;
}

.iconButtons {
  display: flex;
  gap: 6px;
  flex-direction: row;
  padding: 0 0px 5px 0px;
  margin-left: 6px;
}

.rightActiveWindow {
  background: #313440;
  height: 100%;
}
.rightSubTray {
  display: flex;
  flex-direction: row;
}
.rightIconRow {
  margin-top: 5px;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 8px;
}
.rightIcon {
  padding: 5px 7px;
}

.rightIconContainer {
  background: black;
  border-top: 2px solid black;
  width: 35px;
  height: 32px;
  cursor: pointer;
}
.rightIconContainer:hover {
  background-color: var(--grey1);
  border-top: 2px solid var(--grey1);
  width: 35px;
  height: 32px;
}

.rightIconContainerSelected {
  background: var(--grey1);
  border-top: 2px solid #fff;
  width: 35px;
  height: 32px;
  cursor: pointer;
}

.rightTopTitle {
  font-size: 1.1em;
  font-weight: 400;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

.rightTopTitleText {
  margin: auto;
}

.saveCancelContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: right;
  margin-right: 3px;
}

.leftPanelContainer {
  background-color: var(--grey2);
  margin: 8px;
  /* padding: 6px; */
  border-radius: var(--panelRadius);
  height: 100%;
}

.panelContainer {
  background-color: var(--grey2);
  margin: 8px;
  /* padding: 6px; */
  border-radius: var(--panelRadius);
}

.panelSection {
  display: flex;
  flex-direction: column;
  padding: 10px 5px 10px 5px;
  /* margin-bottom: 15px; */
  border-top: 1px solid var(--grey3);
}

.panelSection:first-child {
  border-top: none;
}

.panelSectionRow {
  display: flex;
  flex-direction: row;
}

.verticalCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.panelSection:last-child {
  margin-bottom: 5px;
}

.panelSectionTitle {
  font-size: 0.8em;
  font-weight: 400;
  color: var(--grey4);
  -webkit-user-select: none;
  user-select: none;
}

.panelText {
  font-size: 0.9em;
  font-weight: 400;
  color: white;
  -webkit-user-select: none;
  user-select: none;
}

.panelSmallField {
  flex: 0 0 80px;
}

.panelMediumField {
  flex: 0 0 150px;
}

.panelColorDropdownContainer {
  flex: 1;
}

.iconButtonLabel {
  margin-left: 3px;
}

.iconButton:hover {
  background-color: var(--grey3);
}

.inputField {
  margin-top: 1px;
}

.actionsHeading {
  display: flex;
  gap: 8px;
  padding: 5px;
}

.actionsHeadingTitle {
  font-size: 0.9em;
  font-weight: 400;
  width: 115px;
  margin-top: 4px;
  text-transform: capitalize;
  cursor: pointer;
}

.actionsHeadingSubTitle {
  flex-grow: 1;
  font-size: 0.9em;
  font-weight: 400;
}

.actionsHeadingCaret {
  margin-left: 8px;
  margin-top: 3px;
}

.actionsHeadingCaretRight {
  margin-right: 2px;
}

.actionHeadingIcons {
  width: 18px;
  margin-top: 4px;
}

.check {
  margin: 0 4px 0 4px;
}

.checkUneditable {
  margin: 0 8px 0 4px;
}
