.flexRow {
  flex-direction: row;
}
.flexColumn {
  flex-direction: column;
}

.stm {
  padding-left: 20px;
  padding-top: 10px;
}
.stm_mini {
  padding: 0;
}

.stm,
.stm_mini {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 5px;
  row-gap: 5px;
  width: -moz-fit-content;
  width: fit-content;
  cursor: default;
  height: 100%;
  align-items: flex-start;
  align-content: flex-start;
}

.objective {
  display: flex;
  background-color: var(--grey2);
  border-radius: var(--radius);
  padding: 5px;
  column-gap: 5px;
  row-gap: 5px;
}
.objective_mini {
  display: flex;
  background-color: var(--grey2);
  border-radius: var(--radius);
  padding: 3px;
  column-gap: 3px;
  row-gap: 3px;
}
.objectiveNumberingRow {
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  background-color: white;
  color: black;
  width: 1em;
  text-align: center;
}
.objectiveNumberingRow_mini {
  color: white;
  font-size: 0.7rem;
  font-family: sans-serif;
}
.objectiveNumberingCol {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  background-color: white;
  color: black;
  width: 100%;
  text-align: center;
}
.objectiveNumberingCol_mini {
  color: white;
  font-size: 0.7rem;
  font-family: sans-serif;
}

.goalsContainer {
  display: flex;
  column-gap: 5px;
  row-gap: 5px;
}
.goalsContainer_mini {
  display: flex;
  column-gap: 4px;
  row-gap: 4px;
  align-items: center;
}
.goal {
  display: flex;
  column-gap: 2px;
  row-gap: 2px;
}
.goalNumberingRow {
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  background-color: white;
  color: black;
  width: 1em;
  text-align: center;
}
.goalNumberingCol {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  background-color: white;
  color: black;
  width: 100%;
  text-align: center;
}

.invstgsContainer {
  display: flex;
  column-gap: 1px;
  row-gap: 1px;
}
.invstgNumberingCol {
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  background-color: white;
  color: black;
  width: 1em;
  text-align: center;
}
.invstgNumberingCol_mini {
  background-color: white;
  color: black;
  text-align: center;
  font-size: 0.4rem;
  width: 0.5rem;
}
.invstgNumberingCol_miniStart {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.investgNumberingCol_miniEnd {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.invstgNumberingRow {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  background-color: white;
  color: black;
  width: 1em;
  text-align: center;
}
.invstgNumberingRow_mini {
  background-color: white;
  color: black;
  text-align: center;
  font-size: 0.5rem;
  width: 0.4rem;
}
.invstgNumberingRow_miniStart {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.investgNumberingRow_miniEnd {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.highlight {
  background-color: #2ad300;
}

.flipSwitch {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-left: 10px;
}
.flipSwitch svg {
  font-size: 1.2rem;
  padding-left: 5px;
}
