.header {
  margin: 10px 0 5px 10px;
  font-weight: 500;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.leftBody {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  background-color: var(--grey1);
  overflow-y: auto;
  height: 0;
}

.panelContainer {
  background-color: var(--grey2);
  margin: 2px 8px 2px 8px;
  border-radius: var(--panelRadius);
}

.rexContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2px;
  margin-bottom: 2px;
}

.rexBody {
  margin-left: 10px;
}

.rexButton {
  flex: 0 0 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}

.nameitem {
  display: flex;
  padding: 2px 4px 2px 0;
  -webkit-user-select: none;
  user-select: none;
}

.name {
  display: flex;
  width: 100%;
  font-size: 0.9em;
  font-weight: 500;
  text-transform: uppercase;
  padding: 3px 2px 3px 5px;
  cursor: pointer;
  border-radius: var(--radius);
  border: 1px solid var(--grey2);
}

.nameSelected {
  background-color: var(--grey5);
  font-weight: 500;
  color: black;
  cursor: pointer;
}

.nameSelected:hover {
  background-color: var(--grey5) !important;
}

.nameEmphasized {
  background-color: var(--grey3);
}

.name:hover {
  background-color: var(--grey1);
}

.nameText {
  margin-right: 4px;
}

.nameItemsRightButton {
  padding-right: 5px;
}

.nameItemRightSpacer {
  flex: 1;
}
.nameCaret {
  margin: 2px 5px;
  width: 12px;
}

.evaDropdownContainer {
  display: flex;
  flex-direction: column;
}

.clockRow {
  display: flex;
  flex-direction: column;
  padding: 5px 4px 5px 8px;
}

.clockRowHeader {
  display: flex;
  flex-direction: row;
}

.clockName {
  flex: 1 1 auto;
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  user-select: none;
}

.clockValue {
  flex: 0 0 60px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.petClockFieldContainer {
  display: flex;
  flex-direction: row;
}

.clockButtons {
  flex: 0 0 25px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 5px;
}

.clockButtonsIcon {
  width: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.clockRowPanel {
  display: flex;
  flex-direction: column;
  padding: 5px 4px 5px 8px;
  font-size: 0.9em;
}

.evaExecutionStatus {
  line-height: 25px;
}

.formItem {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.formItemName {
  width: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  user-select: none;
}

.formItemValue {
  margin: 0 0 0 5px;
  display: flex;
  flex-direction: row;
}

.formItemValueItem {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 0 0 4px;
}

.rexEvaDropdown {
  display: flex;
  flex-direction: row;
  margin: 0 5px 0 0;
}

.selectedEvaLabelContainer {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;

  padding: 3px 0 3px 4px;
  margin: 3px 0 3px 4px;
  border-radius: var(--radius);
  cursor: pointer;
  user-select: none;
}
.selectedEvaLabelContainer:hover {
  background-color: var(--grey1);
}
.selectedEvaLabelContainerSelected {
  background-color: var(--grey5);
  color: black;
}
.selectedEvaLabelContainerSelected:hover {
  background-color: var(--grey5);
}
.selectedEvaLabelContainerEmphasized {
  background-color: var(--grey3);
}

.selectedEvaLabel {
  font-size: 0.9em;
  font-weight: 500;
  flex: 1 1 auto;
}

.selectedEvaLabelRight {
  font-size: 0.8em;
  font-weight: 400;
  flex: 1 1 auto;
}

.rexStatusIcon {
  width: 17px;
  height: 18px;
  border-radius: 10px;
  background-color: var(--grey3);
}

.rexStatusIconPending {
  color: var(--grey5);
}

.rexStatusIconInProgress {
  color: var(--rex);
}

.rexStatusIconComplete {
  color: var(--rex);
}

.rexStatusIconSkipped {
  color: var(--grey4);
}

.rexStatusIconBlank {
  width: 17px;
}

/* pos tab */

.icon {
  width: 20px;
  margin-left: 1px;
  margin-right: 1px;
  cursor: pointer;
  height: 100%;
  color: white;
}

.propertyRow {
  display: flex;
  flex-direction: row;
  border-radius: var(--radius);
  user-select: none;
}

.propertyRowHeader {
  display: flex;
  flex-direction: row;
  border-radius: var(--radius);
  font-size: 1em;
}

.reorderIconGrip {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  transform: scaleX(0.8);
}

.propertyRowGrip {
  flex: 0 0 15px;
  vertical-align: middle;
  cursor: grab;
}

.propertyHeaderGrip {
  flex: 0 0 15px;
  vertical-align: middle;
}

.propertyRowGrip:hover:active {
  cursor: grabbing;
}

.propertyRowAbbr {
  flex: 0 0 45px;
  border-radius: var(--radius);
  font-size: 0.9em;
  padding: 3px 2px 3px 5px;
}

.propertyHeaderAbbr {
  flex: 0 0 45px;
  border-radius: var(--radius);
  font-size: 0.9em;
  padding: 3px 2px 3px 10px;
}

.propertyRowName {
  width: 100%;
  font-size: 0.9em;
  padding: 3px 2px 3px 5px;
}

.propertyHeaderName {
  width: 100%;
  font-size: 0.9em;
  padding: 3px 2px 3px 10px;
}

.propertyRowIcon {
  flex: 0 0 40px;
  font-size: 0.9em;
  padding: 3px 2px 3px 5px;
  cursor: default;
}

.propertyHeaderIcon {
  flex: 0 0 40px;
  font-size: 0.9em;
  padding: 3px 20px 3px 5px;
  cursor: default;
}

.propertyRowPathColor {
  flex: 0 0 90px;
  font-size: 0.9em;
  padding: 3px 2px 3px 5px;
}

.propertyHeaderPathColor {
  flex: 0 0 90px;
  font-size: 0.9em;
  padding: 3px 2px 3px 5px;
}

.propertyRowTrash {
  flex: 0 0 20px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.propertyList {
  list-style-type: none;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 0;
}

.propertyListItem {
  text-align: left;
}

.propertyListHeaderItem {
  border-bottom: 1px solid #fff;
}

.propertyIconDisplay {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2px;
  background-color: var(--grey1);
}

.propertyEditMode {
  background-color: var(--grey1);
  border: 1px solid var(--grey3);
  border-radius: var(--radius);
  cursor: pointer;
}

.pickerMenu {
  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: column;
  font-weight: normal;
}

.dialogContainer {
  position: relative;
  padding: 0;
  border: none;
  background-color: rgb(0, 0, 0, 0);
}

.rexStatusContainer {
  position: relative;
  padding: 0;
  border: none;
  background-color: rgb(0, 0, 0, 0);
}
.rexStatusMenu {
  position: fixed;
  z-index: 100;
  width: 120px;
  background-color: var(--grey3);
  color: var(--grey5);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  font-weight: normal;
}
.rexStatusMenuItem {
  display: flex;
  flex-direction: row;
  font-size: 0.9em;
  padding: 5px;
  cursor: pointer;
  column-gap: 3px;
  align-items: center;
}
.rexStatusMenuIcon {
  width: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 3px;
}
.rexStatusMenuItemTitle {
  margin-left: 3px;
}
.rexStatusMenuItem:hover {
  background-color: var(--grey2);
  border-radius: var(--radius);
}
.rexStatusMenuItem:not(:last-child) {
  border-bottom: 1px solid var(--grey4);
}
