.modifiedSpan {
  margin: auto;
}

.updatedAt {
  cursor: default;
}

/* Loading overlay styles */
.loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  user-select: none;
}

.loadingSpinner {
  border: 4px solid rgb(255 255 255 / 30%);
  border-top: 4px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.helpInfoIcon {
  width: 12px;
  margin-left: 3px;
  margin-bottom: 3px;
  cursor: pointer;
  user-select: none;
  outline: none;
}
