* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-feature-settings: "tnum";
}

#root {
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

body {
  margin: 0;
  background-color: black;
}

:root {
  --grey0: #1e1f2b;
  --grey1: #313440;
  --grey2: #424653;
  --grey3: #616574;
  --grey4: #a9a9a9;
  --grey5: #e0e0e0;

  --base: #00f0ff;
  /* --tools: #ff7539; */
  --mission: #e861a9;
  --preset: #ff8f5f;
  --poi: #28ecf9;
  /* --station: #00ffd1; */
  /* --station: #db84ec; */
  --station: #61ff8d;
  --eva: #ffc700;
  /* --rex: #db84ec; */
  --rex: #52f075;
  --rexDim: #39634d;

  --alert: #cb0000;
  --alert-disabled: #650000;

  --info: #2b6092;
  --warning: #ddce00;
  --error: #ff4040;
  --errorText: #cb0000;

  --radius: 3px;
  --panelRadius: 6px;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--grey4) #eeeeee10;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #424242;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--grey4);
  border-radius: 2px;
  border: 1px none #eeeeee10;
}

/* --- leaflet overrides ---*/
/* hide attribution */
.leaflet-control-attribution {
  display: none !important;
}

/* hide marker artifacts */
.leaflet-div-icon {
  background-color: transparent !important;
  border: none !important;
  margin-left: -10px !important;
  margin-top: -10px !important;
  outline: none;
}

/* zoom control color */
.leaflet-bar a {
  background-color: var(--grey2) !important;
  color: #ffffff !important;
  border: 1px solid var(--grey3) !important;
}

/* scale line */
.leaflet-control-scale-line {
  background-color: var(--grey2) !important;
  color: #ffffff !important;
  border: 1px solid var(--grey3) !important;
  text-shadow: none !important;
}

/* map background color */
.leaflet-container {
  background-color: var(--grey2) !important;
}

.leaflet-tooltip-own {
  padding: 2px 5px 2px 5px !important;
}

.leaflet-tooltip-gridLabels {
  position: relative;
  padding: 0px 2px 0px 2px !important;
  border-radius: 0px !important;
  font-size: 0.6rem;
  margin-left: 0px !important;
  box-shadow: none !important;
  overflow: hidden;
}
.leaflet-tooltip-gridLabels::before {
  display: none;
}

/* Leaflet crispness override */
.leaflet-container .leaflet-overlay-pane svg,
.leaflet-container .leaflet-marker-pane img,
.leaflet-container .leaflet-shadow-pane img,
.leaflet-container .leaflet-tile-pane img,
.leaflet-container img.leaflet-image-layer {
  max-width: none !important;
  /* Preserve crisp pixels with scaled up images */
  image-rendering: optimizeSpeed; /* Legal fallback */
  image-rendering: -moz-crisp-edges; /* Firefox        */
  image-rendering: -o-crisp-edges; /* Opera          */
  image-rendering: -webkit-optimize-contrast; /* Safari         */
  image-rendering: optimize-contrast; /* CSS3 Proposed  */
  image-rendering: crisp-edges; /* CSS4 Proposed  */
  image-rendering: pixelated; /* CSS4 Proposed  */
  -ms-interpolation-mode: nearest-neighbor; /* IE8+           */
}

/* metatag component styling */
.rti--container {
  --rti-bg: var(--grey1) !important;
  --rti-border: var(--grey1) !important;
  --rti-main: var(--grey2) !important;
  --rti-radius: var(--radius) !important;
  --rti-s: "0.3rem"; /* spacing */
  --rti-tag: var(--grey3) !important;
  --rti-tag-remove: "#ff0000" !important;
  padding: 1px !important;
}

/* --- react-tag-input overrides --- */
.rti--container input {
  height: 2em;
  background-color: var(--grey1);
  color: #ffffff;
  border: 1px solid var(--grey1);
  border-radius: var(--radius);
  font-size: 0.8em;
  font-weight: 400;
  width: 145px;
}

.rti--tag {
  font-size: 0.9em;
  padding-left: 10px !important;
  padding-bottom: 1px !important;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.rti--tag span {
  padding-bottom: 1px;
}

.rti--tag button {
  color: white;
  padding-bottom: 1px !important;
}

/* used in the STMSelector component to insert styles generated by react-checkbox-tree */
/* .react-checkbox-tree label { */
.rct-node-clickable {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 2px;
}
.rct-node-clickable:hover {
  background-color: var(--grey1) !important;
}
.rct-node-clickable:focus {
  background-color: var(--grey2) !important;
}
.react-checkbox-tree > ol {
  width: 0;
}
.react-checkbox-tree ol ol {
  padding-left: 12px !important;
}
.rct-collapse,
.rct-node-icon {
  padding: 0 !important;
}
.rct-checkbox {
  margin-left: 5px;
  padding: 0 3px 0 0 !important;
}
