.header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: var(--grey1);
  border-bottom: 2px solid black;
  color: white;
  width: 100%;
}

.body {
  margin-top: 70px;
  display: flex;
}

.leftPanel {
  width: 50%;
  height: 100%;
  margin-top: 10px;
}

.rightPanel {
  width: 50%;
  height: 100%;
}

.bodyContent {
  padding: 20px;
}

.actionTileContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.actionTile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 260px;
  padding: 20px 1px;
  margin: 10px 0;
  text-align: center;
  position: relative;
  cursor: pointer;
  box-shadow:
    0 10px 15px -3px rgba(33, 150, 243, 0.4),
    0 4px 6px -4px rgba(33, 150, 243, 0.4);
  border-radius: 10px;
  background-color: #6b6ecc;
  background: linear-gradient(45deg, #04051dea 0%, #2b566e 100%);
  transition: 1s;
}

.disabledTile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 260px;
  padding: 20px 1px;
  margin: 10px 0;
  text-align: center;
  position: relative;
  border-radius: 10px;
  background-color: #6b6ecc;
  background: gray;
  transition: 1s;
  opacity: 0.5;
  cursor: not-allowed;
  z-index: 100;
}

.actionTile:hover {
  box-shadow:
    0 10px 15px -3px rgba(255, 0, 243, 0.4),
    0 4px 6px -4px rgba(33, 150, 243, 0.4);
  background: linear-gradient(45deg, #04051dea 0%, #2b566e 100%);
}

.content {
  padding: 20px;
}

.content .description {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 10px;
  font-size: 14px;
}

.content .title {
  font-weight: 800;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  margin-top: 10px;
  font-size: 25px;
  letter-spacing: 1px;
}

.button {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: none;
  outline: none;
  color: rgb(255 255 255);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
  padding: 0.75rem 1.5rem;
  background-color: rgb(33 150 243);
  border-radius: 0.5rem;
  width: 90%;
  text-shadow: 0 4px 18px #2c3442;
  cursor: pointer;
}

.disabledButton {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: none;
  outline: none;
  color: rgb(255 255 255);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
  padding: 0.75rem 1.5rem;
  background-color: rgb(33 150 243);
  border-radius: 0.5rem;
  width: 90%;
  text-shadow: 0 4px 18px #2c3442;
  cursor: not-allowed;
}

.button:hover {
  background-color: rgb(33 150 243 / 80%);
}

.divIndent {
  padding-left: 1.5rem;
}

.editDiv {
  display: inline-block;
  vertical-align: top;
  line-height: 1.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.validation {
  font-size: 0.75rem;
  color: red;
  line-height: 1rem;
}

.deleteButton {
  background-color: #dc3545;
}

.sectionDiv {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.sectionDivHeading {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 5px 5px 5px 0;
}

.editMissionDiv {
  padding: 5px;
  width: 100%;
}

.fileTable {
  border-collapse: collapse;
}

.fileTable td,
.fileTable th {
  border: 1px solid black;
  padding: 4px;
}

.centerHeader {
  text-align: center;
}

.backButton svg {
  position: absolute;
  top: 20px;
  left: 20px;
  border: none;
  padding: 23px 0.5rem 0.5rem 0.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  cursor: pointer;
}

.missionBack svg {
  border: none;
  padding: 23px 0.5rem 0.5rem 0.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  cursor: pointer;
}

/*Write a bootstrap like alternating color bootstrap style*/
.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.table th {
  padding: 0.5rem;
  border: 1px solid #ddd;
  text-align: left;
}
.table tr {
  border: 1px solid #ddd;
}

.table td {
  padding: 0.5rem;
  border: 1px solid #ddd;
  text-align: left;
}

.table tr td.actionList svg {
  padding: 0.5rem;
  text-decoration: none;
}

.formContainer {
  display: flex;
  column-gap: 30px;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  height: 100%;
  position: relative;
}

.noPermission {
  font-size: 13px;
  font-style: italic;
  color: gray;
}

.form {
  max-width: 300px;
  height: 400px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form::-webkit-scrollbar-track {
  background: transparent;
}

.formGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formGroup label {
  font-size: 0.75rem;
  color: #333;
  line-height: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.formGroup input {
  font-size: 0.75rem;
  color: #333;
  line-height: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  width: 100%;
}

.formGroup select {
  font-size: 0.75rem;
  color: #333;
  line-height: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  width: 100%;
}

.formEnd {
  margin-top: auto;
}

.formEnd button {
  font-size: 0.75rem;
  color: white;
  line-height: 1rem;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  width: 100%;
  background-color: #0b3d91;
  cursor: pointer;
}

.formGroup button:hover {
  background-color: white;
  color: #0b3d91;
  border: 2px solid black;
}

.bodyContent {
  position: relative;
}
.addButton {
  background-color: #0b3d91;
  color: white;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  width: 120px;
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1rem;
  margin-bottom: 0.5rem;
  position: absolute;
  right: 20px;
  top: 40px;
  cursor: pointer;
}

.addButton:hover {
  background-color: white;
  color: #0b3d91;
  border: 2px solid black;
}

.errorMessage {
  background-color: #dc3545;
  color: white;
  font-size: 0.75rem;
  line-height: 1rem;
  margin: 15px 0 0 0;
}

.successMessage {
  background-color: #28a745;
  color: white;
  font-size: 0.75rem;
  line-height: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
}

.actionList svg {
  cursor: pointer;
}

.warningShot {
  color: #dc3545;
  font-size: 3.5rem;
  line-height: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
}

.page {
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  color: white;
  justify-content: space-between;
  height: 50px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: var(--grey1);
  border-bottom: 2px solid black;
}

.apiTitle {
  color: black;
  text-align: center;
}

.iconPanel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
  column-gap: 20px;
}

.icons {
  flex: 1;
  justify-content: space-between;
  width: 100px;
  padding: 0 10px;
  color: black;
  transition: 0.5s ease;
}

.disabledIcon {
  color: var(--grey4);
  flex: 1;
  justify-content: space-between;
  width: 100px;
  padding: 0 10px;
  transition: 0.5s ease;
}

.icons:hover {
  color: var(--grey1);
}

.icons:active {
  color: var(--grey1);
}

.apiButton {
  width: 100%;
  margin: 0 0 10px 0;
}
.apiResponsePanel {
  width: 100%;
  height: 150px;
  overflow: auto;
}

.authStatus {
  color: #dc3545;
  font-weight: 600;
  align-items: end;
}

.authSuccess {
  color: #28a745;
}

.titleText {
  color: black;
  text-align: center;
}

.componentList {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  padding: 0 10px;
}
.componentListItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  width: 100%;
  height: 30px;
  border-bottom: 1px solid var(--grey4);
  cursor: pointer;
}

.componentListItemActive {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  width: 100%;
  height: 30px;
  border-bottom: 1px solid var(--grey4);
  cursor: pointer;
  background-color: var(--grey4);
}

.componentListItem:hover {
  background-color: var(--grey4);
}

.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 30px;
}

.inputText {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.inputSelect {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.inputTextArea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.inputValidate {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #ffc107;
}

.inputSubmit {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.deleteInput {
  width: 100%;
  background-color: #dc3545;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.deleteInput:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.inputSubmit:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.errorList,
.successList {
  list-style: none;
  padding-left: 0;
}

.successItem {
  color: #28a745;
}

.errorItem {
  color: #dc3545;
}

.inputContainer {
  max-width: 500px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
}

.rightFlexCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.configDiv {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 650px;
  height: 600px;
  padding: 20px 50px;
  border: 1px solid var(--grey4);
  border-radius: 5px;
  color: white;
  background-color: #0b3d91;
  margin: 0 auto;
}

.configDiv label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  width: 100%;
}

.configDiv label .label {
  display: inline-block;
  font-weight: bold;
}

.configDiv label svg {
  float: right;
  margin: 0 10px;
  color: white;
  cursor: pointer;
}

.configDiv textarea {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 10px;
  height: 600px;
  resize: none;
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }
  .container > nav,
  .container > aside {
    flex: 0 0 20vw;
  }
}

.progressBarContainer {
  width: 100%;
  height: 20px;
  background-color: var(--grey4);
  border-radius: 5px;
  margin: 10px 0;
}

.progressBar {
  height: 100%;
  background-color: #4caf50;
  border-radius: 5px;
  width: 0;
}

.progressBarFill {
  height: 100%;
  background-color: #ffc107;
  border-radius: 5px;
  width: 0;
  transition: width 0.5s ease-in-out;
}

.progressBarText {
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 2px 0;
}

.importButton {
  background-color: #4caf50;
  color: white;
  margin: 8px 10px;
  padding: 3px 9px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.importButton:hover {
  background-color: #46a049;
}

.exportButton {
  background-color: #ffc;
  color: black;
  margin: 8px 10px;
  padding: 3px 9px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/*Style top right Close button*/
.closeButton {
  position: absolute;
  top: 3px;
  right: 0;
  color: white;
  font-size: 22px;
  font-weight: bold;
  padding: 0 10px;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.missionList {
  list-style: none;
  padding-left: 0;
  margin: 0 auto;
  text-align: center;
  width: 200px;
}

.missionName {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
  color: white;
  background: #0b3d91;
  border: 3px solid white;
  border-radius: 25px;
  cursor: pointer;
}

.missionName:hover {
  background: white;
  color: #0b3d91;
  border: 3px solid #0b3d91;
}

.missionDisabled {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
  color: lightgray;
  background: grey;
  border: 3px solid #ccc;
  border-radius: 25px;
  cursor: not-allowed;
}

.smallGrey {
  color: black;
  font-size: 0.6em;
  display: block;
}

.poiHeader {
  text-align: center;
  font-weight: bold;
}

.poiList {
  list-style: none;
  padding-left: 0;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.poiCard {
  align-items: center;
  width: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid var(--grey4);
  border-radius: 5px;
  background-color: #0b3d91;
  color: white;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  flex-wrap: wrap;
}
/*Put icon in top right corner of card*/
.poiIcon {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-size: 22px;
  font-weight: bold;
  padding: 0 10px;
  cursor: pointer;
}

/* Put name in center top of card */
.poiName {
  top: 0;
  position: relative;
  align-items: center;
  font-weight: bold;
  font-size: 1.2em;
}

.flexBreak {
  flex-basis: 100%;
  height: 0;
}

.errorList {
  list-style: none;
  padding-left: 0;
  margin: 0 auto;
  text-align: center;
}

.errorHeader {
  text-align: center;
  font-weight: bold;
  color: #721c24;
}

.errorListItem {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  padding: 5px;
  max-width: 650px;
  text-align: center;
  margin: 10px auto;
}
.smallText {
  font-size: 0.8em;
  color: red;
  top: -10px;
  position: relative;
}

.poiCardContainer {
  height: auto;
}

.checkbox {
  display: flex;
  justify-content: flex-end;
  padding: 0.5em;
  width: 100%;
}

.missionLabel {
  flex: 1;
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
}

.missionCheckbox {
  flex: 1 1;
  display: block;
}

.pageStyle {
  background-color: white;
  overflow-y: auto;
  height: 100vh;
}

.pageStyle .tooltip {
  z-index: 900;
  background-color: black;
  color: white;
  max-width: 300px;
  opacity: 100%;
  font-size: 0.8rem;
  padding: 10px;
}

.layerContainer {
  display: flex;
  flex-direction: row;
}

.divWithBorder {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.breadcrumb {
  font-size: 0.9em;
  cursor: default;
}

.missionBodyContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.gridInputContainer {
  text-align: center;
  width: 100%;
}
