.numberingField {
  width: 3rem;
}
.nameField {
  width: 15rem;
}

.selectField {
  width: 15rem;
}
.selectLabel {
  width: 10rem;
  display: inline-block;
}

.div_select {
  display: inline-block;
  width: 35rem;
}

.div_add {
  display: inline-block;
}

.importExport {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 20px;
}

.levelNames {
  display: flex;
  flex-direction: column;
}

.levelNameInput {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
