.loginRes {
  width: 700px;
  height: 100px;
  background-color: #f5f5f5;
  word-wrap: break-word;
}

.missionsRes {
  width: 700px;
  height: 100px;
  background-color: #f5f5f5;
  word-wrap: break-word;
}

.missionRes {
  width: 800px;
  height: 400px;
  word-wrap: break-word;
}
