.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.body {
  margin-top: 5px;
  margin-left: 5px;
  height: 0;
  overflow-y: scroll;
  flex: 1 1 auto;
}

.poiItem {
  display: flex;
  padding-top: 2px;
  padding-bottom: 2px;
  -webkit-user-select: none;
  user-select: none;
}

.itemIcon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  align-items: center;

  font-size: 16px;
  margin: 0 2px 0 2px;

  border-radius: 5px;
  padding: 1px;
  width: 28px;
  height: 28px;
}

.name {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: var(--radius);
  font-size: 0.9em;
  padding: 3px 2px 3px 5px;
  cursor: pointer;
}

.nameSelected {
  background-color: var(--poi);
  color: black;
  cursor: pointer;
}

.nameSelected:hover {
  background-color: var(--poi) !important;
  color: black !important;
}

.name:hover {
  background-color: var(--grey1);
}

.name.nohover {
  cursor: default;
}

.name.nohover:hover {
  background-color: transparent;
}

.poiRightSpacer {
  flex: 1;
}
