.mapContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  outline: none;
}
.mapViewDisplay {
  position: absolute;
  top: 10px;
  left: 45px;
  z-index: 100;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}

.mapScaleDisplay {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: var(--grey0);
  font-weight: 600;
  text-align: center;
  z-index: 100;
  border-radius: var(--radius);
  background-color: var(--grey5);
}

.mapPositionDisplay {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 100;
  border: 2px solid rgba(0, 0, 0, 0.2);

  border-radius: var(--radius);
  background-color: var(--grey2);
}

.scaleValue {
  font-size: 0.8em;
  border: 1px solid var(--grey3);
  padding: 5px;
}

.positionValue {
  font-size: 0.8em;
  border: 1px solid var(--grey3);
  padding: 5px;
  width: 150;
}

.mapIcon {
  color: rgba(0, 0, 0, 1);
  font-size: 1.2em;
  user-select: none;
  filter: drop-shadow(0px 0px 1px rgb(0, 0, 0, 0.5)) drop-shadow(0px 0px 1px rgb(0, 0, 0, 0.5))
    drop-shadow(0px 0px 1px rgb(0, 0, 0, 0.5)) drop-shadow(0px 0px 1px rgb(0, 0, 0, 0.5));
}

.mapIconWin10 {
  color: rgba(0, 0, 0, 1);
  font-size: 1.2em;
  user-select: none;
}

.iconWrapper {
  display: flex;
  position: relative;
  width: 21px;
  height: 21px;
}

.posIcon {
  position: absolute;
  left: 2px;
  font-size: 1.2em;
  user-select: none;
  filter: drop-shadow(0px 0px 1px rgb(0, 0, 0, 0.5)) drop-shadow(0px 0px 1px rgb(0, 0, 0, 0.5))
    drop-shadow(0px 0px 1px rgb(0, 0, 0, 0.5)) drop-shadow(0px 0px 1px rgb(0, 0, 0, 0.5));
}

.posIconWin10 {
  position: absolute;
  left: 2px;
  font-size: 1.2em;
  user-select: none;
}

.posBar {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 18px;
  width: 20px;
  height: 5px;
  border: 1px solid var(--grey2);
  border-radius: 3px;
}
.posBarItem {
  flex: 1 1 auto;
}
