.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.body {
  margin-top: 5px;
  margin-left: 5px;
  height: 0;
  overflow-y: scroll;
  flex: 1 1 auto;
}

.stationItem {
  display: flex;
  padding-top: 2px;
  padding-bottom: 2px;
  -webkit-user-select: none;
  user-select: none;
}

.name {
  display: flex;
  width: 100%;
  border-radius: var(--radius);
  font-size: 0.9em;
  padding: 3px 2px 3px 5px;
  cursor: stationnter;
}

.nameSelected {
  background-color: var(--station);
  color: black;
  cursor: stationnter;
}

.nameSelected:hover {
  background-color: var(--station) !important;
  color: black !important;
}

.name:hover {
  background-color: var(--grey1);
}

.stationRightSpacer {
  flex: 1;
}
