.activeComponentTitle {
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 10px;
  margin-top: 10px;
}

.rightBody {
  display: flex;
  flex-direction: column;
  background-color: var(--grey1);
  flex: 1 1 auto;
}

.rightBodyTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rightBodyTitle {
  font-size: 1.1em;
  font-weight: 600;
  margin: 10px 0 0 10px;
}

.rightBodyTitleIcons {
  flex: 0 0 20px;
  display: flex;
  gap: 2px;
  margin: 8px 3px 0 0;
}

.rightBodyBody {
  height: 0;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.rightBodyFooter {
  flex: 0 0 20px;
}

.leftBody {
  display: flex;
  flex-direction: column;
  background-color: var(--grey1);
  height: 100%;
}

.leftBodyTitle {
  font-size: 1.1em;
  font-weight: 600;
  margin-left: 10px;
  margin-top: 10px;
  flex: 0 0 20px;
}
.leftBodyBody {
  height: 0;
  flex: 1 1 auto;
  overflow-y: auto;
}
.leftBodyFooter {
  flex: 0 0 20px;
}

.subTitle {
  font-size: 0.95em;
  font-weight: 600;
  margin-left: 10px;
  margin-top: 10px;
}

.bodyText {
  font-size: 0.95em;
  margin-left: 5px;
}

.bodyText p {
  margin: 10px 5px 10px 5px;
}

.iconButtons {
  display: flex;
  gap: 6px;
  flex-direction: row;
  margin: 0 0 5px 0;
}

.rightActiveWindow {
  background: #313440;
  height: 100%;
}
.rightSubTray {
  display: flex;
  flex-direction: row;
}
.rightIconRow {
  margin-top: 5px;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 8px;
}
.rightIcon {
  display: flex;
  justify-content: center;
  margin-top: 4px;
}

.rightIconContainer {
  background: black;
  border-top: 3px solid black;
  border-radius: 4px 4px 0 0;
  width: 35px;
  height: 32px;
  cursor: pointer;
}
.rightIconContainer:hover {
  background-color: var(--grey1);
  border-top: 3px solid var(--grey1);
  width: 35px;
  height: 32px;
}

.rightIconContainerSelected {
  background: var(--grey1);
  border-top: 3px solid var(--grey4);
  border-radius: 4px 4px 0 0;
  width: 35px;
  height: 32px;
  cursor: pointer;
}

.rightIconContainerSelectedTab {
  background: var(--grey1);
  border-top: 3px solid var(--grey4);
  border-radius: 4px 4px 0 0;
  width: 35px;
  height: 32px;
  cursor: pointer;
}

.rightIconContainerSelectedPoi {
  background: var(--grey1);
  border-top: 3px solid var(--grey4);
  border-radius: 4px 4px 0 0;
  width: 35px;
  height: 32px;
  cursor: pointer;
}

.rightIconContainerSelectedStation {
  background: var(--grey1);
  border-top: 3px solid var(--grey4);
  border-radius: 4px 4px 0 0;
  width: 35px;
  height: 32px;
  cursor: pointer;
}

.rightIconContainerSelectedTraverse {
  background: var(--grey1);
  border-top: 3px solid var(--grey4);
  border-radius: 4px 4px 0 0;
  width: 35px;
  height: 32px;
  cursor: pointer;
}

.rightTopTitle {
  display: flex;
  justify-content: stretch;
  font-size: 1.1em;
  font-weight: 400;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

.rightTopTitleText {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rightTopTitleIcon {
  font-size: 1.2em;
  display: flex;
  align-items: center;
}

.rightTopTitleNoIcon {
  font-size: 1.1em;
  min-height: 29px;
}

.saveCancelContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: right;
  margin-right: 3px;
  margin-top: 7px;
  column-gap: 3px;
}

.leftPanelContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 5px 5px 0 5px;
  border-radius: var(--panelRadius);
  overflow-y: hidden;
}

.leftPanelContainerTop {
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
}
.leftPanelContainerBottom {
  flex: 0 0 auto;
  padding-top: 5px;
}

.panelContainer {
  background-color: var(--grey2);
  margin: 8px;
  border-radius: var(--panelRadius);
}

.panelSection {
  display: flex;
  flex-direction: column;
  padding: 10px 5px 10px 5px;
  border-top: 1px solid var(--grey3);
}

.panelSection:first-child {
  border-top: none;
}

.panelSectionRow {
  display: flex;
  flex-direction: row;
}

.verticalCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.panelSection:last-child {
  margin-bottom: 5px;
}

.panelSectionTitle {
  font-size: 0.8em;
  font-weight: 400;
  color: var(--grey5);
  user-select: none;
}

.panelSectionSubtext {
  font-size: 0.9em;
  font-weight: 400;
  color: var(--grey4);
  user-select: none;
  padding-bottom: 5px;
}

.panelSection2Column {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 18px;
}

.panelSectionInner2Column {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sectionButtonRow {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 16px;
  gap: 5px;
}

.sectionButtonRowEmpty {
  margin-top: 8px;
}

.panelText {
  font-size: 0.8em;
  font-weight: 400;
  color: white;
}

.panelTextIndented {
  font-size: 0.8em;
  font-weight: 400;
  color: var(--grey5);
  padding-left: 18px;
}

.buttonPlaceholder {
  height: 27px;
}

.panelSmallField {
  color: red;
}

.panelColumnTable {
  flex: 1;
  display: table-row-group;
}

.panelColumnTableRow {
  display: table-row;
}

.panelColumnTableCell {
  display: table-cell;
  vertical-align: middle;
}

.panelColumnTableCellLeftSurround {
  border-top: 1px solid var(--grey4);
  border-left: 1px solid var(--grey4);
  border-bottom: 1px solid var(--grey4);
  border-radius: 4px 0 0 4px;
  padding: 2px 0 2px 5px;
}

.panelColumnTableCellRightSurround {
  border-top: 1px solid var(--grey4);
  border-right: 1px solid var(--grey4);
  border-bottom: 1px solid var(--grey4);
  border-radius: 0 4px 4px 0;
  padding: 2px 5px 2px 0;
  vertical-align: middle;
}

.panelDisplayVal {
  font-size: 0.8em;
  font-weight: 400;
}

.panelColorDropdownContainer {
  flex: 1;
}

.iconButtonLabel {
  margin-left: 3px;
}

.iconButton:hover {
  background-color: var(--grey3);
}

.inputField {
  margin-top: 1px;
  display: flex;
}

.inputFieldLabel {
  font-size: 0.8em;
  font-weight: 400;
  color: var(--grey4);
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 5px;
}

.inputFieldValue {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8em;
  font-weight: 400;
}

.displayFieldLabel {
  font-size: 0.8em;
  font-weight: 400;
  color: var(--grey4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: default;
}

.displayFieldValue {
  font-size: 0.8em;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 8px;
}

.degreesInputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bigHeading {
  display: flex;
  gap: 4px;
  padding: 1px;
}

.bigHeadingCaret {
  margin-left: 8px;
  margin-top: 1px;
}

.bigHeadingCaretRight {
  margin-top: 0;
  margin-right: 2px;
}

.bigHeadingCaretDown {
  margin-top: 0;
}

.checkUneditable {
  margin: 0 8px 0 4px;
}

.descriptionContainer {
  padding-left: 13px;
}

.fieldContainerAutomerge {
  padding-left: 13px;
  display: flex;
}

.fieldContainerAutomergeInline {
  display: flex;
}

.crewSelectorContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
  margin-left: 18px;
}

.lastEditedContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 5px 10px 18px;
}

.valueTooltip {
  display: inline-block;
  cursor: default;
}

.toggleMenuItemRow {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.toggleLeft {
  font-size: 0.8rem;
  background-color: var(--grey3);
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  margin: 2px 0 0 5px;
  padding: 2px 4px 2px 4px;
  min-width: 20px;
  margin-right: 1px;
  text-align: center;
  user-select: none;
  cursor: pointer;
}
.toggleMiddle {
  font-size: 0.8rem;
  background-color: var(--grey3);
  margin: 2px 0;
  padding: 2px 4px 2px 4px;
  min-width: 20px;
  margin-right: 1px;
  text-align: center;
  user-select: none;
  cursor: pointer;
}
.toggleRight {
  font-size: 0.8rem;
  background-color: var(--grey3);
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  min-width: 20px;
  margin: 2px 0;
  padding: 2px 4px 2px 4px;
  text-align: center;
  user-select: none;
  cursor: pointer;
}
.toggleSingle {
  font-size: 0.8rem;
  background-color: var(--grey3);
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  min-width: 20px;
  margin: 2px 0 0 5px;
  padding: 2px 4px 2px 4px;
  text-align: center;
  user-select: none;
  cursor: pointer;
}
.toggleSelected {
  background-color: var(--grey5);
  color: var(--grey1);
  font-weight: 600;
}

.titleWithMaestro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.maestroIcon {
  color: var(--maestroConnection);
  margin: -8px 10px 0 0;
}

.iconSvg {
  font-size: 1.5em;
  margin-top: -2px;
  height: 1em;
}

.iconSvg polygon {
  fill: inherit !important;
}
