.titleWrapper {
  flex: 0 0 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  align-items: center;
}
.title {
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--eva);
}

.nameitem {
  display: flex;
  padding: 2px 4px 2px 0;
  user-select: none;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
  font-size: 0.9em;
  font-weight: 500;
  text-transform: uppercase;
  padding: 3px;
  cursor: pointer;
  border-radius: var(--radius);
  border: 1px solid var(--grey2);
  align-items: center;
}

.nameTopRow {
  flex: 1;
  width: 100%;
  display: flex;
}

.nameBottomRow {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: right;
}

.addRexButton {
  height: 20px;
  width: 110px;
  margin-left: 3px;
  text-transform: none;
}

.noRexes {
  width: 100%;
  font-size: 0.8rem;
  color: var(--grey4);
  text-transform: none;
  margin-top: auto;
}

.nameSelected {
  background-color: var(--grey5);
  font-weight: 500;
  color: black;
  cursor: pointer;
}

.name.nameSelected:hover {
  background-color: var(--grey5);
}

.nameEmphasized {
  background-color: var(--grey3);
}

.name:hover {
  background-color: var(--grey1);
}

.nameText {
  margin-right: 4px;
}

.nameSpacer {
  flex: 1;
}

.nameCaret {
  margin: 2px 5px;
  width: 12px;
  cursor: pointer !important; /* override the draggableItem cursor */
}

.nameIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.dropdownArrow {
  top: 1px;
  color: #ffffff;
}
.dropdownSelector {
  width: 100%;
}

.sliderIcon {
  font-size: 0.9em;
  padding-left: 4px;
  padding-right: 4px;
  height: 20px;
}

.slideIconEmphasized {
  font-size: 0.9em;
  padding-left: 4px;
  padding-right: 4px;
  height: 20px;
  background-color: var(--grey2);
}

.evaContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.verticalCenter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.evaSequenceContainer {
  margin: 0 0 0 20px;
  padding-bottom: 4px;
}

.evaFooterContainer {
  margin: 0 0 0 10px;
}

.evaSequence {
  display: flex;
  flex-direction: column;
}

.evaItem {
  display: flex;
  flex-direction: row;
}

.evaItemName {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  gap: 3px;
  font-size: 0.9em;
  padding: 4px 5px 4px 5px;
  margin: 1px 0 1px 0;
  border-radius: var(--radius);
  user-select: none;
}

.evaItemName.editMode:hover {
  background-color: var(--grey2);
  cursor: default;
}

.evaItemNameSelected {
  background-color: var(--grey5);
  font-weight: 500;
  color: black;
  cursor: pointer;
}
.evaItemNameHoverMode {
  background-color: var(--grey1);
  cursor: pointer;
}

.evaItemNameSelected:hover {
  color: black !important;
}

.evaItemNameRexInProgress {
  background-color: var(--rexDim);
  color: var(--grey5);
}

.evaItemNameRexInProgressSelected {
  background-color: var(--rex);
  color: var(--grey1);
  font-weight: 500;
}

.evaItemNameRexSkipped {
  background-color: var(--grey1);
  color: var(--grey4);
}

.evaItemNameRexSkippedSelected {
  background-color: var(--grey5);
  color: var(--grey1);
}

.evaItemNameRexComplete {
  background-color: var(--grey1);
  color: var(--grey4);
}

.evaItemLeft {
  flex: 1 1 auto;
  display: flex;
}

.evaItemNameText {
  flex: 1 1 auto;
  margin-right: 1px;
  align-self: center;
}

.evaTraverseNameText {
  flex: 1 1 auto;
  margin-right: 1px;
  align-self: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.evaItemRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  justify-content: space-around;
}

.evaItemRightItem {
  text-align: right;
}

.evaItemNameButtons {
  display: flex;
  flex-direction: row;

  justify-content: right;
}

.evaItemNameButton {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background-color: var(--grey3);
  color: #ffffff;

  width: 20px;
  height: 20px;
  border: none;
  border-radius: var(--radius);
  font-size: 11px;
  font-weight: 600;
  margin-left: 2px;
  cursor: pointer;
}

.evaItemNameButton.disabled {
  background-color: var(--grey3);
  color: var(--grey2);
  cursor: default;
}

.evaItemNameButton.disabled:hover {
  background-color: var(--grey3);
  color: var(--grey2);
}

.evaItemNameButtonLabel {
  margin: 0 auto;
}

.iconCustom {
  flex: 0 0 28px;
  display: flex;
  align-self: center;

  font-size: 18px;
  border-radius: var(--radius);
}
.iconCustomSmall {
  font-size: 0.8rem;
  width: 20px;
}

.landerImage {
  width: 18px;
  height: 18px;
  margin-left: 4px;
}

.stationWrapperRight {
  display: flex;
  user-select: none;
}

.stationIconRight {
  flex: 0 0 25px;
  display: flex;
  align-self: center;

  font-size: 16px;
  border-radius: var(--radius);
}

.stationNameRight {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  margin-top: 2px;
  margin-left: 5px;
}

.evaTraverseIndicator {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 0 0 20px;
  padding: 3px 0 3px 0;
}

.iconTraverseDotsContainer {
  margin-left: 10px;
  width: 18px;
}

.iconTraverse {
  border-left: 5px dotted var(--eva);
  overflow-y: visible;
  height: 21px;
}

.iconTraverseDotsContainerSmall {
  margin-left: 6px;
  width: 14px;
}

.iconTraverseSmall {
  border-left: 3px dotted var(--eva);
  overflow-y: visible;
  height: 0.8rem;
}

.statusLoading {
  width: 18px;
  min-height: 18px;
  display: inline-block;
  margin-left: 0.1em;
  padding-right: 0.4em;

  background-size: 18px 18px;
  background-repeat: no-repeat;

  background-position: center;
  background-image: url("/images/icon_status_loading.svg");
}

.rexStatusWrapper {
  flex: 0 0 20px;
  user-select: none;
  align-self: center;
}

.rightTopTitleText {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 5px;
}

.rexIconWrapper {
  background-color: var(--rex);
  color: black;
  padding: 2px 4px 2px 4px;
  margin-right: 4px;
  border: 1px solid var(--rex);
  border-radius: var(--radius);
}
.rexIconWrapperSelected {
  border: 1px solid var(--grey3);
}

.executingEvaContainer {
  max-height: 50%;
  display: flex;
  flex-direction: column;
}

.executingEvaContainerCollapsed {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}

.executingEvaContainerOnly {
  display: flex;
  flex-direction: column;
  border-bottom: none;
}

.allEvaContainer {
  max-height: 50%;
  display: flex;
  flex-direction: column;
}

.allEvaContainerRexCollapsed {
  max-height: calc(100% - 93px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.allEvaContainerNoExecuting {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.rightPaneExecuting {
  height: 100%;
  border-radius: var(--radius);
  border: 2px solid var(--rex);
  display: flex;
  flex-direction: column;
}

.rightPane {
  height: 100%;
  display: flex;
  flex-direction: column;
}
