.divIndent {
  padding-left: 1.5rem;
}

.editDiv {
  display: inline-block;
  vertical-align: top;
  line-height: 1.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.validation {
  font-size: 0.75rem;
  color: red;
  line-height: 1rem;
}

.deleteButton {
  background-color: #dc3545;
}

.sectionDiv {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.editMissionDiv {
  padding: 5px;
  width: "fit-content";
}

.fileTable {
  border-collapse: collapse;
}

.fileTable td,
.fileTable th {
  border: 1px solid black;
  padding: 4px;
}
