.page {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: var(--grey2);
  border-bottom: 2px solid black;
}

.body {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.leftControl {
  flex: 0 0 350px;
  border-right: 1px solid var(--dark-grey);
  height: 100%;
}

.mapBody {
  flex: 1;
  height: 100%;
}

.rightControl {
  flex: 0 0 350px;
  border-left: 1px solid var(--dark-grey);
  height: 100%;
}

.timeline {
  height: 162px;
  border-top: 1px solid var(--dark-grey);
}
