.page {
  background-color: transparent;
  color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: var(--grey1);
  border-bottom: 2px solid black;
}

.body {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.leftControl {
  flex: 0 0 350px;
  border-right: 1px solid var(--grey1);
  height: 100%;
  background: black;
}

.mapBody {
  flex: 1;
  height: 100%;
}

.drawerSlider {
  color: white;
  position: relative;
  height: 58px;
  left: 2px;
  top: 50%;
  margin-top: -40px;
  background: transparent;
}

.circle {
  top: -19px;
  right: 1px;
  background: url("/images/drawerNub.svg") no-repeat;
  width: 13px;
  height: 64px;
  z-index: 55;
  position: absolute;
  cursor: pointer;
}

.drawerIcon {
  position: relative;
  width: 12px;
  height: 12px;
  left: 0;
  top: 19px;
  background: transparent;
}

.rightControl {
  flex: 0 0 480px;
  border-left: 1px solid var(--grey1);
  height: 100%;
  background: black;
}

.page .tooltip {
  z-index: 900;
  background-color: white;
  color: black;
  max-width: 300px;
  opacity: 100%;
  font-size: 0.8rem;
  padding: 10px;
  position: absolute;
}
