.evasLeftContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.evasLeftBody {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  background-color: var(--grey1);
  overflow-y: auto;
  height: 0;
}

.evasLeftFooter {
  flex: 0 0 20px;
  margin-top: 5px;
}

.evaPanelContainer {
  background-color: var(--grey2);
  margin: 2px 8px 2px 8px;
  border-radius: var(--panelRadius);
}

.nameitem {
  display: flex;
  padding: 2px 4px 2px 0;
  -webkit-user-select: none;
  user-select: none;
}

.name {
  display: flex;
  width: 100%;
  font-size: 0.9em;
  font-weight: 500;
  text-transform: uppercase;
  padding: 3px 2px 3px 5px;
  cursor: pointer;
  border-radius: var(--radius);
  border: 1px solid var(--grey2);
}

.nameSelected {
  background-color: var(--grey5);
  font-weight: 500;
  color: black;
  cursor: pointer;
}

.nameSelected:hover {
  background-color: var(--grey5) !important;
}

.nameEmphasized {
  background-color: var(--grey3);
}

.name:hover {
  background-color: var(--grey1);
}

.nameText {
  margin-right: 4px;
}

.nameItemRightSpacer {
  flex: 1;
}

.nameCaret {
  margin: 2px 5px;
  width: 12px;
}

/* */

.evaContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2px;
  margin-bottom: 2px;
}

.verticalCenter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.evaSequenceContainer {
  margin: 0 0 0 20px;
}

.evaFooterContainer {
  margin: 0 0 0 10px;
}

.evaSequence {
  display: flex;
  flex-direction: column;
}

.evaItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.evaItemName {
  flex: 1 1 auto;
  display: flex;
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-size: 0.9em;
  padding: 4px 5px 4px 5px;
  margin: 1px 4px 1px 3px;
  border-radius: var(--radius);
  -webkit-user-select: none;
  user-select: none;
}
.evaItemName.editMode:hover {
  background-color: var(--grey2);
  cursor: default;
}

.evaItemNameSelected {
  background-color: var(--grey5);
  font-weight: 500;
  color: black;
  cursor: pointer;
}
.evaItemNameHoverMode {
  background-color: var(--grey1);
  cursor: pointer;
}

.evaItemNameSelected:hover {
  color: black !important;
}

.evaItemNameText {
  margin-right: 1px;
  align-self: center;
}

.evaItemDuration {
  flex: 1;
  text-align: right;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.evaItemNameButtons {
  display: flex;
  flex-direction: row;
  width: 120px;
  flex: 0 0 120px;
  padding-left: 10px;
  justify-content: right;
}

.evaItemNameButton {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background-color: var(--grey3);
  color: #ffffff;

  width: 20px;
  height: 20px;
  border: none;
  border-radius: var(--radius);
  font-size: 11px;
  font-weight: 600;
  margin-left: 2px;
  cursor: pointer;
}

.evaItemNameButton.disabled {
  background-color: var(--grey3);
  color: var(--grey2);
  cursor: default;
}

.evaItemNameButton.disabled:hover {
  background-color: var(--grey3);
  color: var(--grey2);
}

.evaItemNameButtonLabel {
  margin: 0 auto;
}

.iconCustom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  font-size: 18px;
  border-radius: var(--radius);
  width: 28px;
  height: 28px;
}

.evaTraverseIndicator {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 0 0 20px;
  padding: 3px 0 3px 0;
}

.iconTraverseDotsContainer {
  position: relative;
  top: 0;
  left: 12px;
  width: 28px;
}

.iconTraverse {
  border-left: 5px dotted var(--eva);
  overflow-y: visible;
  height: 32px;
}

.statusLoading {
  width: 18px;
  min-height: 18px;
  display: inline-block;
  margin-left: 0.1em;
  padding-right: 0.4em;

  background-size: 18px 18px;
  background-repeat: no-repeat;

  background-position: center;
  background-image: url(/images/icon_status_loading.svg);
}
