html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}
* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-feature-settings: "tnum";
}

body {
  margin: 0;
}

:root {
  --grey0: #242424;
  --grey1: #313440;
  --grey2: #424653;
  --grey3: #898989;
  --grey4: #a9a9a9;

  --base: #00f0ff;
  --map: #54c9e2;
  --markup: #43be6d;
  --eva: #e9b93e;
  --tools: #9966cc;
  --measure: #d05f8f;

  --radius: 3px;
  --panelRadius: 8px;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #eeeeee #eeeeee10;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: #424242;
}

*::-webkit-scrollbar-thumb {
  background-color: #eeeeee;
  border-radius: 2px;
  border: 1px none #eeeeee10;
}

/* --- leaflet overrides ---*/
/* hide attribution */
.leaflet-control-attribution {
  display: none !important;
}

/* .leaflet-top {
  display: none !important;
} */
