/* blend modes for tile layers */
.leaflet-blend-normal {
  mix-blend-mode: normal;
}
.leaflet-blend-multiply {
  mix-blend-mode: multiply;
}
.leaflet-blend-screen {
  mix-blend-mode: screen;
}
.leaflet-blend-overlay {
  mix-blend-mode: overlay;
}
.leaflet-blend-darken {
  mix-blend-mode: darken;
}
.leaflet-blend-lighten {
  mix-blend-mode: lighten;
}
.leaflet-blend-color-dodge {
  mix-blend-mode: color-dodge;
}
.leaflet-blend-color-burn {
  mix-blend-mode: color-burn;
}
.leaflet-blend-hard-light {
  mix-blend-mode: hard-light;
}
.leaflet-blend-soft-light {
  mix-blend-mode: soft-light;
}
.leaflet-blend-difference {
  mix-blend-mode: difference;
}
.leaflet-blend-exclusion {
  mix-blend-mode: exclusion;
}
.leaflet-blend-hue {
  mix-blend-mode: hue;
}
.leaflet-blend-saturation {
  mix-blend-mode: saturation;
}
.leaflet-blend-color {
  mix-blend-mode: color;
}
.leaflet-blend-luminosity {
  mix-blend-mode: luminosity;
}
